
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



#gameScreen {
    padding: 20px;
    font-size: 24px;
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button {
    padding: 10px;
    font-size: 16px;
}

.hidden {
    display: none;
}

#newScreen {
    padding: 20px;
    font-size: 24px;
    background-color: #ffe186;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    height: 90vh;
    width: 90vh;
}

#newScreen2 {
    padding: 20px;
    font-size: 24px;
    background-color: #86ffaa;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    height: 90vh;
    width: 90vh;
}



#ok1 {
    padding: 10px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}


#topDiv,#topDiv2 {
    
    height: 20vh; /* Set a fixed height for the top div */
    display: flex;
    justify-content: flex-end; /* Align the content to the top right */
    align-items: flex-start; /* Align the content to the top left */
    /*background-color: #3498db;*/
}
#topRightCorner{
    width: auto;/* Maintain the aspect ratio */
    margin-top: 0.5vh; /* Adjust the top margin to position the container */
    margin-bottom: 0.5vh; 
    /*background-color: #b4db34; */
    max-width: 20vh;
}
#numberContainer{
    margin-top: 5vh;     
    padding: 5px;
    font-size: 35px;
    /*background-color: #db3490;*/
    color:#db3490;
    width: 40vh;
    height:10vh;

}


#middleDiv, #middleDiv3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 60vh;
}

#countdown{
    margin-top: 3vh;
    margin-left: 30vh ;
}

#instructionText1{
    margin-top: 10vh;
    margin-bottom: 5vh;
    color:#333;
    justify-content: center;    
    padding: 5px;    
    align-items: center;   
    font-size: 20px;
}

.custom-font {
    
    font-family: 'Pacifico', cursive;
  }

#bottomDiv,#bottomDiv2 {
    flex: 1;
    height: 10vh;
}


#number {
    margin-left: 30vh;
    font-size: 35px;
    color: rgb(120, 74, 10);
}
.center-both {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#breathbutton {
    padding: 5px;
    font-size: 24px;
    background-color: #db3490;
    color: white;
    width: 40vh;
    height:10vh;
    
    border-radius: 10px;
}


#breathingScreen {
    font-size: 24px;
    /*background-color: #ff86a2;*/
    color: white;
    cursor: pointer;
    height: 100vh;
    width: 100vh;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

#imageContainer {
    width: auto;
    height: 40vh; /* Maintain the aspect ratio */
    margin-bottom: 20vh; /* Adjust the bottom margin for spacing */
}


#imageContainer3 {
    width: auto;
    height: 20vh; /* Maintain the aspect ratio */
    margin-bottom: 20vh; /* Adjust the bottom margin for spacing */
}

img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any extra spacing below the image */
    margin: 0 auto;
}
.pulsate {
    animation: pulsate 2s infinite; /* Default animation duration */
}




canvas {
    display: block;    
    margin: 0 auto;
    background-color: #87CEEB; /* Sky Blue */
    position: fixed;    
    height: 100vh;
    width: 100vh;
    z-index:-1;
}

#balloon-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Make the balloon container not interfere with clicks */
}

.balloon {
    position: absolute;
    width: 20px;
    height: 30px;
    border-radius: 50%;
    animation: float 5s ease-in-out infinite; /* Apply the float animation directly in CSS */
}


#breatheDiv {
    display: flex;
    height: 100vh;
    
    flex-direction: column;
}

#hrDiv {
    height: 20vh; /* Set a fixed height for the top div */
    width: 100%;
    display: flex;
    flex:1;
    flex-direction: column;
    /*background-color: #db3490; */
    justify-content: flex-end;   
   
}


#middleDiv2 {
    flex:2 ;
    margin-top: 10vh;
    display: flex;
    justify-content: center; /* Align the content to the top right */
    align-items: center; 
    /*background-color: #ffe186;*/
    height: 30vh;
     /*background-color: #3498db;*/
     z-index: 1;
}

#imageContainer2 {
    display: flex;
    position: relative; /* Ensure positioning context for absolute positioning */
    width: auto;
    height: 60vh; /* Maintain the aspect ratio */
    margin-bottom: 10vh; /* Adjust the bottom margin for spacing */
}

#topRightCorner2{
    width: auto;/* Maintain the aspect ratio */
    margin-top: 0.5vh; /* Adjust the top margin to position the container */
    margin-bottom: 0.5vh; 
    height: 20vh;
    /*background-color: #b4db34; */
    max-width: 20vh;
}

#yourhr{

    margin-top: 5vh;
     
    margin-left: 32vh;
    height: 10vh;
    width: 40vh;
    color: rgb(255, 255, 255);
}

#hrnumber {
    color:  #540618; 
    margin-left: 40vh;
    font-size: 35px;
    margin-top: 5vh;
}

#heart {
    height: 10vh;
    width: 10vh;
    margin-left: 40vh;
    background-color:  #540618; 
    border-radius: 50%;    
    animation: pulsate 2s infinite; /* Animation for pulsating effect */
}



#gum {
    height: 20px;
    width: 20px;
    position: absolute;
    position: absolute;
    left: 50%;
    top: 67%;
    transform: translate(-50%, -50%);
    background-color: rgba(228, 135, 199, 0.7);; 
    border: 10px rgb(27, 14, 21, 0.7);
    border-width: 1px;
    border-radius: 50%;    
    animation: pulse 10s infinite alternate; /* Animation for pulsating effect */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4px;
    z-index: 2;

}

@keyframes pulse {
    to {
        transform: scale(5);
        border-color: rgb(7, 2, 6); /* Change border color in animation */
    }
}